.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 84px;
	background-color: var(--white);
	border-bottom: 1px solid var(--white);
	width: 100%;
}

.container {
	background-color: var(--white);
	width: 1440px;
	height: 100%;
	align-items: center;
	display: flex;
	gap: 280px;
	padding: 0 160px;
}
.logo_svg {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	font-weight: 900;
}
.menu {
	display: flex;
	gap: 60px;
}

.container .active:hover {
	color: var(--Blue-Main-500);
	cursor: pointer;
}

.title {
	color: var(--black);
}
.active,
.logo_svg {
	color: var(--black);
	text-decoration: none;
}
.active {
	color: var(--black);
}
